.cart {
  font-size: larger;
  background-image: url(../image/bg.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.cart_header {
  font-family: "Monoton", cursive;
  margin-top: 10vh;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  margin-bottom: 3vh;
}
.cart_header h1 {
  font-family: "Monoton", cursive;
  font-size: 60px;
}
.cart_content {
  /* background-color: rgb(8, 110, 110); */
  width: 100%;
  height: 100%;
  /* display: flex; */
}
.cart_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 5;
  /* background-color: rgba(165, 42, 42, 0.411); */
  width: 100%;
  height: 100%;
  padding: 10px 200px;
  margin-bottom: 20vh;
  margin-left: -20px;
}

.cart_item {
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding-left: 15px;
  /* padding-right: 15px; */
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: #eeb64d;
}
.cart_item_img {
  flex: 2;
  /* background-color: rgba(57, 57, 207, 0.562); */
  height: 100%;
}
.cart_item_img img {
  height: 100%;
  width: 100%;
}
.cart_item_nam {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 6;
  /* background-color: rgba(0, 247, 255, 0.548); */
  height: 100%;
}
.cart_item_nam label {
  /* color: white; */
  font-size: 25px;
  font-style: initial;
  margin-bottom: 0em;
  padding: 10px;
}
.cart_item_qty {
  justify-content: center;
  align-items: center;
  display: flex;

  flex: 4;
  /* background-color: rgba(238, 255, 0, 0.548); */
  height: 100%;
}
.cart_item_price {
  border-right: solid 0.5px black;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  /* background-color: rgba(255, 47, 0, 0.548); */
  height: 100%;
}
.cart_item_price label {
  font-size: 25px;
  font-style: initial;
  margin-bottom: 0em;
  padding: 10px;
}
.cart_item_remove {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  color: black;
  flex: 1;
  height: 60%;
  padding: 5px;
}
.cart_item_remove:hover {
  color: rgb(122, 28, 28);
}
.cart_item_qty div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
  background-color: #eeb64d;
}
.cart_item_qty div:hover {
  color: rgb(255, 255, 255);
}

.cart_item_qty div:active {
  color: rgb(255, 153, 0);
}

.cart_item_qty label {
  /* color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 30px;
  margin-bottom: 0em;
}

.cart_checkout {
  /* background-color: rgba(127, 255, 212, 0.452); */
  display: flex;
  position: absolute;
  left: 0px;
  top: 80vh;
  width: 100%;
  height: auto;
  justify-content: center;
}
.checkout {
  border: solid 3px #eeb64d;
  position: fixed;
  align-content: center;
  width: 80%;
  height: 100px;
  background-color: #000000c4;
  border-radius: 20px;
}

@media screen and (max-width: 760px) {
  .cart_items {
    padding: 10px 10px;
    margin-left: -20px;
  }

  .cart_item_price label {
    font-size: 15px;
  }

  .cart_item_nam label {
    font-size: 15px;
  }
  .checkout {
    width: 90%;
  }
}
