.home_menu {
  background-image: url("../image/bg.jpg");
}
.home_menu h1 {
  margin-bottom: 60px;
  color: rgb(255, 255, 255);
  padding-top: 40px;
}
.home_menu_items {
  display: flex;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.menu_item {
  min-width: 550px;
  max-width: 550px;
  margin: 10px;
  margin-bottom: 50px;
  display: flex;
  height: 20vh;
  width: auto;
  justify-content: space-evenly;
  background-color: #eeb64d;
  border-radius: 30px;
}
.menu_item_image img {
  height: 20vh;
  width: auto;
}
.menu_item_content p {
  
  align-content: center;
}
.menu_item_content {
  padding: 10px;
  height: 20vh;
  width: 100%;
  padding-top: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  font-size: 10px;
}

.home_menu_items:hover {
}

.menu_item:hover {
  background-color: #da9517;
}
.add{
  width: 100px;
  height: 50px;
  background-color: #eeb64d;
  border: solid 1px black;

}
